@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url('../img/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
    header {
        background-image: none;
    }
}
    